<div *ngIf="control.invalid && control.dirty">
  <div *ngIf="control.errors.required">
    {{ targetText + '为必填项'}}
  </div>
  <div *ngIf="control.errors.minlength">
    {{ targetText + '的最小长度为' + control.errors.minlength.requiredLength}}
  </div>
  <div *ngIf="control.errors.maxlength">
    {{ targetText + '的最大长度为' + control.errors.maxlength.requiredLength}}
  </div>
  <div *ngIf="control.errors.email">
    邮箱格式错误
  </div>
  <div *ngIf="control.errors.matchRegExp">
    {{ control.errors.matchRegExp.msg}}
  </div>
  <div *ngIf="control.errors.custom">
    {{ control.errors.custom.msg}}
  </div>
</div>