<div class="logo">
</div>
<ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu>
    <span title>
      <i class="anticon anticon-user"></i>
      <span class="nav-text">TODO</span>
    </span>
    <ul>
      <li nz-menu-item>
        <i class="anticon anticon-appstore"></i>TODO</li>
      <li nz-menu-item>
        <i class="anticon anticon-appstore"></i>TODO</li>
      <li nz-menu-item>
        <i class="anticon anticon-appstore"></i>TODO</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title>
      <i class="anticon anticon-team"></i>
      <span class="nav-text">主数据</span>
    </span>
    <ul>
      <li nz-menu-item routerLink="bump-info">
        <i class="anticon anticon-file"></i>水泵信息</li>
      <li nz-menu-item>
        <i class="anticon anticon-file"></i>零件信息</li>
      <li nz-menu-item>
        <i class="anticon anticon-file"></i>密封信息</li>
    </ul>
  </li>
</ul>