<div style="position: relative;">
  <div class="form-loading-icon" [hidden]="!isWorking">
    <nz-spin [nzSize]="'large'" style="color: black;"></nz-spin>
  </div>
  <form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div *ngFor="let eachRow of layoutConstruction" nz-row [nzGutter]="16">
      <ng-container *ngFor="let eachCell of eachRow">
        <div nz-col nzXs="24" nzSm="24" [nzMd]="(24 / this.formConfig.columns) * (eachCell.span)">
          <app-dynamic-form-element [formGroup]="formGroup" [everyFeild]="eachCell.f"></app-dynamic-form-element>
        </div>
      </ng-container>
    </div>
  </form>
</div>